In [31]:
import pandas as pd
import numpy as np
import csv

In [16]:
buga_header = ['관리번호', '행정동코드', '행정동명', '우편번호', '우편번호일련번호', '다량배달처명', '건축물대장 건물명', '시군구건물명', '공동주택여부', '변경사유코드']

In [57]:
if 'df_gyunggi' in locals():
    del df_gyunggi
df_gyunggi = pd.read_csv('data/부가정보_경기도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)

C:\Users\dmjang\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,관리번호,행정동코드,행정동명,우편번호,우편번호일련번호,다량배달처명,건축물대장 건물명,시군구건물명,공동주택여부,변경사유코드
0,4111112900100160000045813,4.111156e+09,파장동,16201,NaN,NaN,NaN,NaN,0,NaN
1,4111112900100190004049521,4.111156e+09,파장동,16201,NaN,NaN,NaN,NaN,0,NaN
2,4111112900100190018000001,4.111156e+09,파장동,16201,NaN,NaN,NaN,NaN,0,NaN
3,4111112900100200000049709,4.111156e+09,파장동,16201,NaN,NaN,NaN,NaN,0,NaN
4,4111112900100210005049708,4.111156e+09,파장동,16201,NaN,NaN,NaN,솔가,0,NaN

In [66]:
if 'df_gangwon' in locals():
    del df_gangwon
if 'df_gyunggi' in locals():
    del df_gyunggi
if 'df_gyungsangnam' in locals():
    del df_gyungsangnam
if 'df_gyungsangbook' in locals():
    del df_gyungsangbook
if 'df_gwangzoo' in locals():
    del df_gwangzoo
if 'df_daegu' in locals():
    del df_daegu
if 'df_daegeon' in locals():
    del df_daegeon
if 'df_busan' in locals():
    del df_busan
if 'df_seoul' in locals():
    del df_seoul
if 'df_sejong' in locals():
    del df_sejong
if 'df_ulsan' in locals():
    del df_ulsan
if 'df_incheon' in locals():
    del df_incheon
if 'df_junranam' in locals():
    del df_junranam
if 'df_junrabook' in locals():
    del df_junrabook
if 'df_jeju' in locals():
    del df_jeju
if 'df_chungnam' in locals():
    del df_chungnam
if 'df_chungbook' in locals():
    del df_chungbook    
df_gangwon = pd.read_csv('data/부가정보_강원도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_gyunggi = pd.read_csv('data/부가정보_경기도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_gyungsangnam = pd.read_csv('data/부가정보_경상남도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_gyungsangbook = pd.read_csv('data/부가정보_경상북도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_gwangzoo = pd.read_csv('data/부가정보_광주광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_daegu = pd.read_csv('data/부가정보_대구광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_daegeon = pd.read_csv('data/부가정보_대전광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_busan = pd.read_csv('data/부가정보_부산광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_seoul = pd.read_csv('data/부가정보_서울특별시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_sejong = pd.read_csv('data/부가정보_세종특별자치시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_ulsan = pd.read_csv('data/부가정보_울산광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_incheon = pd.read_csv('data/부가정보_인천광역시.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_junranam = pd.read_csv('data/부가정보_전라남도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_junrabook = pd.read_csv('data/부가정보_전라북도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_jeju = pd.read_csv('data/부가정보_제주특별자치도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_chungnam = pd.read_csv('data/부가정보_충청남도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)
df_chungbook = pd.read_csv('data/부가정보_충청북도.txt', header=None, names=buga_header, encoding='utf8', delimiter = '|', error_bad_lines=False)

C:\Users\dmjang\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [65]:
df_gyunggi[['관리번호', '행정동코드', '행정동명']]

                             관리번호         행정동코드 행정동명
0       4111112900100160000045813  4.111156e+09  파장동
1       4111112900100190004049521  4.111156e+09  파장동
2       4111112900100190018000001  4.111156e+09  파장동
3       4111112900100200000049709  4.111156e+09  파장동
4       4111112900100210005049708  4.111156e+09  파장동
...                           ...           ...  ...
985249  4183041033200090004000001  4.183041e+09  개군면
985250  4183041033200090007000001  4.183041e+09  개군면
985251  4183041033200260005000001  4.183041e+09  개군면
985252  4183041033200260008000001  4.183041e+09  개군면
985253  4183041033200260012000001  4.183041e+09  개군면

[985254 rows x 3 columns]

In [9]:
df_gyunggi.head()

,5011003202000020005046710,5011032000,추자면,63000,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,0
0,5011003202000020009046701,5.011032e+09,추자면,63000,NaN,NaN,NaN,NaN,0
1,5011003202000100001046699,5.011032e+09,추자면,63000,NaN,NaN,NaN,NaN,0
2,5011003202000100001046704,5.011032e+09,추자면,63000,NaN,NaN,NaN,NaN,0
3,5011003202000100009046732,5.011032e+09,추자면,63000,NaN,NaN,NaN,NaN,0
4,5011003202000100010046702,5.011032e+09,추자면,63000,NaN,NaN,NaN,NaN,0